@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins), sans-serif; /* Use Poppins for the body */
}

/* Add styles for headings or other elements if needed */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif; /* Ensure headings also use Poppins */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
